

:root
{
    --light1:  #555252;
    --light2:  #d1d1d1;
    --light3:  #e1e1e1;
    --light4:  #f1f1f1;
    --light-pink : #654266;

    --text1:   #fd90e2;
}

.theme-dark
{
    /* --background-primary:         var(--dark0);
    --background-primary-alt:     var(--dark0);
    --background-secondary:       var(--dark1);
    --background-secondary-alt:   var(--dark2); 
    --text-normal:                var(--light2);
    --text-faint:                 var(--light0);
    --text-muted:                 var(--light1);
    --text-title-h1:              var(--dark-pink);
    --text-title-h2:              var(--pink);
    --text-title-h3:              var(--light-pink);
    --text-title-h4:              var(--light-pink);
    --text-title-h5:              var(--light-pink);
    --text-title-h6:              var(--light-pink);
    --text-link:                  var(--frost0);
    --text-a:                     var(--yellow);
    --text-a-hover:               var(--yellow);
    --text-mark:                  var(--red);
    --pre-code:                   var(--dark1);
    --text-highlight-bg:          var(--dark3);
    --interactive-accent:         var(--yellow59);
    --interactive-accent-hover:   var(--red);
    --interactive-hover:          var(--dark0);
    --interactive-before:         var(--dark3);
    --background-modifier-border: var(--dark2);
    --text-accent:                var(--orange);
    --interactive-accent-rgb:     var(--orange);
    --inline-code:                var(--frost1);
    --code-block:                 var(--frost1);
    --vim-cursor:                 var(--orange);
    --text-selection:             var(--red53); 
    --opacity-translucency:       0.9;*/
}
.theme-light


.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{

}



html,
body
{
    
}

strong
{

}

a,
.cm-hmd-internal-link
{
    text-decoration: none !important;
}

a:hover,
.cm-hmd-internal-link:hover,
.cm-url
{

}

.view-actions a
{

}

.view-actions a:hover
{

}

.HyperMD-codeblock-bg
{
    border-right: 0.1px solid var(--light1) !important;
    border-left: 0.1px solid var(--light1) !important;
}

.HyperMD-codeblock
{
    
}

.HyperMD-codeblock-begin
{
    border-top: 0.1px solid var(--light1) !important;
    border-right: 0.1px solid var(--light1) !important;
    border-left: 0.1px solid var(--light1) !important;
}

.HyperMD-codeblock-end
{
    border-bottom: 0.1px solid var(--light1) !important;
    border-right: 0.1px solid var(--light1) !important;
    border-left: 0.1px solid var(--light1) !important;
}

th
{

}

thead
{

}

.HyperMD-table-row
{

}

.HyperMD-table-row-0
{

}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator
{

}

.nav-file-tag /* le petit CANVAS sur le folder */

{

}

.is-active .nav-file-title
{

}

.nav-file-title
{

}


.HyperMD-list-line
{

}

.CodeMirror-linenumber
{

}

.markdown-preview-section pre code,
.markdown-preview-section code /* BlockQuote preview */
{

}

.markdown-preview-section pre code
{

}

.markdown-preview-section code
{

}

.cm-s-obsidian,
.cm-inline-code
{

}

.cm-inline-code
{

}

.workspace-leaf-header-title
{

}

.side-dock-title
{

}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{

}

.side-dock
{

}

.cm-s-obsidian,
.markdown-preview-view
{

}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle
{

}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle
{

}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs
{

}

.markdown-embed-title{

}

.markdown-embed
{

}


.cm-header-1.cm-header-1,
.markdown-preview-section.markdown-preview-section h1 {

}
.theme-light .cm-header-1.cm-header-1,
.theme-light .markdown-preview-section.markdown-preview-section h1 {

}

.markdown-preview-section.markdown-preview-section h1 {
    text-align: center;
}

.markdown-preview-section h2,
.markdown-preview-section.markdown-preview-section h2,
.markdown-preview-section.markdown-preview-section h3,
.markdown-preview-section.markdown-preview-section h4,
.markdown-preview-section.markdown-preview-section h5,
.markdown-preview-section.markdown-preview-section h6
{

}


body {

}

.cm-header-1.cm-header-1,
.markdown-preview-section.markdown-preview-section h1
{
    text-align: center;
    border-bottom: 4px solid #585257;
}

.cm-header-2
{
    border-bottom: 3px solid #3f3b3e;
}
.markdown-preview-section h2
{
    text-align: left;
    border-bottom: 3px solid #3f3b3e;
    width: 50%;
    align-items: center;
    padding-left: 20px;
}

.cm-header-3,
.markdown-preview-section h3
{

}

.cm-header-4,
.markdown-preview-section h4
{

}

.cm-header-5,
.markdown-preview-section h5
{

}

.cm-header-6,
.markdown-preview-section h6
{

}

.suggestion-item.is-selected
{

}

.empty-state-container:hover
{

}

.checkbox-container
{

}

.mod-cta
{

}

.mod-cta:hover
{

}

.CodeMirror-cursor
{

}

input.task-list-item-checkbox {

}

input.task-list-item-checkbox:checked {

}

.mermaid .note
{

}





/****************************************************************************
    BEGIN - My code! 😀
****************************************************************************/

.heading-collapse-indicator svg {

}

::-webkit-scrollbar {

}
::-webkit-scrollbar-thumb {

}

/* There's no current good way to select an image that is alone, and NOT style images that are inline */
/* span:only-child img {
    display: block;
    margin: 0 auto;
} */

.view-header {

}

.nav-buttons-container {

}

.cm-hashtag { /* les tags dans l'editeur */
    background-color: var(--light1);
    color: var(--text1);
}

.cm-hashtag-begin {

}
.cm-hashtag-end {

}

a.tag { /* les tags dans le view */
    background-color: var(--light1);
    color: var(--text1);
}

a.tag:hover {

}

.dropdown {

}

/* Triple class selector, to avoid using !important */
.cm-highlight.cm-highlight.cm-highlight,
.markdown-preview-view mark { 
    background-color: var(--light-pink) !important;
    border-radius: 5px;
    padding: 0 5px;
}

.markdown-preview-view blockquote {

}

.markdown-preview-view blockquote::before {

}

/* GRAPH VIEW */
.theme-dark .graph-view.color-fill {

}

.theme-dark.graph-view.color-fill-highlight,
.theme-dark.graph-view.color-line-highlight
{

}
.graph-view.color-text
{

}


.graph-view.color-fill-highlight {

}
.graph-view.color-circle-highlight {

}

.theme-dark .graph-view.color-fill-tag {

}

.theme-dark .graph-view.color-fill-attachment {

}

.theme-dark .graph-view.color-fill-unresolved {

}
/* END GRAPH VIEW */

.status-bar {

}